.caja-grande{
	width:750px;
	height:360px;
	border:2px solid #D9D9D9;
}
.caja-amarilla {
	width:180px;
	height:120px;
	background:#FFFF00;
}
.caja-celeste {
	width:180px;
	height:120px;
	background:#3A81BA;
}
.caja-rosada {
	width:180px;
	height:120px;
	background:#ED2251;
}